In [2]:
import pandas as pd
data = pd.read_json("dog.json")
# Print the data 
print(data)

               id          owner      secret  server  farm  \
0     51196285470   12608538@N03  1cc4fda304   65535    66
1     51195931592  145172533@N07  3159af7482   65535    66
2     51196558561   14904436@N00  e7425a099b   65535    66
3     51197544145  124304610@N07  a74cddbcfc   65535    66
4     51195650487  142433590@N07  c70b820a13   65535    66
...           ...            ...         ...     ...   ...
5495  49664931493   83090816@N03  b97535ab7b   65535    66
5496  49654618916   70142944@N04  4ff4be91ee   65535    66
5497  49665687847  185027927@N07  f805593eed   65535    66
5498  49617817758  170418689@N03  bc38607559   65535    66
5499  49665296896  145106582@N02  84d0cbf224   65535    66

                             title  ispublic  isfriend  isfamily  \
0                  PBWA Kensington         1         0         0
1                 Huck-bush repose         1         0         0
2     Gracie lounging on the grass         1         0         0
3              Lola's First Litter         1         0         0
4           Puppy sandwich anyone!         1         0         0
...                            ...       ...       ...       ...
5495                      DSC_0054         1         0         0
5496            Roly on Ben Lawers         1         0         0
5497                      Seal dog         1         0         0
5498                          Skip         1         0         0
5499                          iago         1         0         0

                       ownername  ...  geo_is_contact geo_is_friend  \
0                       IanAWood  ...             0.0           0.0
1                        jormit1  ...             NaN           NaN
2                     walneywave  ...             0.0           0.0
3                  austexican718  ...             NaN           NaN
4     Photography By Gerry Slade  ...             NaN           NaN
...                          ...  ...             ...           ...
5495                     Margi03  ...             NaN           NaN
5496                        3.0s  ...             0.0           0.0
5497   Szczepanowski Photography  ...             NaN           NaN
5498                  akatsoulis  ...             NaN           NaN
5499               iago_malinois  ...             NaN           NaN

      geo_is_family  media media_status o_width o_height  \
0               0.0  photo        ready     NaN      NaN
1               NaN  photo        ready     NaN      NaN
2               0.0  photo        ready  3933.0   3012.0
3               NaN  photo        ready  4032.0   3024.0
4               NaN  photo        ready     NaN      NaN
...             ...    ...          ...     ...      ...
5495            NaN  photo        ready     NaN      NaN
5496            0.0  photo        ready  2592.0   3872.0
5497            NaN  photo        ready  5525.0   3683.0
5498            NaN  photo        ready  5600.0   4000.0
5499            NaN  photo        ready     NaN      NaN

                                                  url_o  height_o  width_o
0                                                   NaN       NaN      NaN
1                                                   NaN       NaN      NaN
2     https://live.staticflickr.com/65535/5119655856...    3012.0   3933.0
3     https://live.staticflickr.com/65535/5119754414...    3024.0   4032.0
4     https://live.staticflickr.com/65535/5119565048...    1440.0   2000.0
...                                                 ...       ...      ...
5495  https://live.staticflickr.com/65535/4966493149...    1191.0   1800.0
5496  https://live.staticflickr.com/65535/4965461891...    3872.0   2592.0
5497  https://live.staticflickr.com/65535/4966568784...    3683.0   5525.0
5498  https://live.staticflickr.com/65535/4961781775...    4000.0   5600.0
5499  https://live.staticflickr.com/65535/4966529689...    3894.0   5841.0

[5500 rows x 34 columns]

In [7]:
print(data.isnull())

         id  owner  secret  server   farm  title  ispublic  isfriend  \
0     False  False   False   False  False  False     False     False
1     False  False   False   False  False  False     False     False
2     False  False   False   False  False  False     False     False
3     False  False   False   False  False  False     False     False
4     False  False   False   False  False  False     False     False
...     ...    ...     ...     ...    ...    ...       ...       ...
5495  False  False   False   False  False  False     False     False
5496  False  False   False   False  False  False     False     False
5497  False  False   False   False  False  False     False     False
5498  False  False   False   False  False  False     False     False
5499  False  False   False   False  False  False     False     False

      isfamily  ownername  ...  geo_is_contact  geo_is_friend  geo_is_family  \
0        False      False  ...           False          False          False
1        False      False  ...            True           True           True
2        False      False  ...           False          False          False
3        False      False  ...            True           True           True
4        False      False  ...            True           True           True
...        ...        ...  ...             ...            ...            ...
5495     False      False  ...            True           True           True
5496     False      False  ...           False          False          False
5497     False      False  ...            True           True           True
5498     False      False  ...            True           True           True
5499     False      False  ...            True           True           True

      media  media_status  o_width  o_height  url_o  height_o  width_o
0     False         False     True      True   True      True     True
1     False         False     True      True   True      True     True
2     False         False    False     False  False     False    False
3     False         False    False     False  False     False    False
4     False         False     True      True  False     False    False
...     ...           ...      ...       ...    ...       ...      ...
5495  False         False     True      True  False     False    False
5496  False         False    False     False  False     False    False
5497  False         False    False     False  False     False    False
5498  False         False    False     False  False     False    False
5499  False         False     True      True  False     False    False

[5500 rows x 34 columns]

In [8]:
print(data[data.isnull()])

      id owner secret  server  farm title  ispublic  isfriend  isfamily  \
0    NaN   NaN    NaN     NaN   NaN   NaN       NaN       NaN       NaN
1    NaN   NaN    NaN     NaN   NaN   NaN       NaN       NaN       NaN
2    NaN   NaN    NaN     NaN   NaN   NaN       NaN       NaN       NaN
3    NaN   NaN    NaN     NaN   NaN   NaN       NaN       NaN       NaN
4    NaN   NaN    NaN     NaN   NaN   NaN       NaN       NaN       NaN
...   ..   ...    ...     ...   ...   ...       ...       ...       ...
5495 NaN   NaN    NaN     NaN   NaN   NaN       NaN       NaN       NaN
5496 NaN   NaN    NaN     NaN   NaN   NaN       NaN       NaN       NaN
5497 NaN   NaN    NaN     NaN   NaN   NaN       NaN       NaN       NaN
5498 NaN   NaN    NaN     NaN   NaN   NaN       NaN       NaN       NaN
5499 NaN   NaN    NaN     NaN   NaN   NaN       NaN       NaN       NaN

     ownername  ...  geo_is_contact geo_is_friend  geo_is_family  media  \
0          NaN  ...             NaN           NaN            NaN    NaN
1          NaN  ...             NaN           NaN            NaN    NaN
2          NaN  ...             NaN           NaN            NaN    NaN
3          NaN  ...             NaN           NaN            NaN    NaN
4          NaN  ...             NaN           NaN            NaN    NaN
...        ...  ...             ...           ...            ...    ...
5495       NaN  ...             NaN           NaN            NaN    NaN
5496       NaN  ...             NaN           NaN            NaN    NaN
5497       NaN  ...             NaN           NaN            NaN    NaN
5498       NaN  ...             NaN           NaN            NaN    NaN
5499       NaN  ...             NaN           NaN            NaN    NaN

     media_status o_width o_height  url_o  height_o  width_o
0             NaN     NaN      NaN    NaN       NaN      NaN
1             NaN     NaN      NaN    NaN       NaN      NaN
2             NaN     NaN      NaN    NaN       NaN      NaN
3             NaN     NaN      NaN    NaN       NaN      NaN
4             NaN     NaN      NaN    NaN       NaN      NaN
...           ...     ...      ...    ...       ...      ...
5495          NaN     NaN      NaN    NaN       NaN      NaN
5496          NaN     NaN      NaN    NaN       NaN      NaN
5497          NaN     NaN      NaN    NaN       NaN      NaN
5498          NaN     NaN      NaN    NaN       NaN      NaN
5499          NaN     NaN      NaN    NaN       NaN      NaN

[5500 rows x 34 columns]

In [9]:
data.isna()

,id,owner,secret,server,farm,title,ispublic,isfriend,isfamily,ownername,...,geo_is_contact,geo_is_friend,geo_is_family,media,media_status,o_width,o_height,url_o,height_o,width_o
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,...,True,True,True,False,False,True,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,True,True,True,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,True,True,True,False,False,True,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5495,False,False,False,False,False,False,False,False,False,False,...,True,True,True,False,False,True,True,False,False,False
5496,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5497,False,False,False,False,False,False,False,False,False,False,...,True,True,True,False,False,False,False,False,False,False
5498,False,False,False,False,False,False,False,False,False,False,...,True,True,True,False,False,False,False,False,False,False
5499,False,False,False,False,False,False,False,False,False,False,...,True,True,True,False,False,True,True,False,False,False

In [10]:
print(data.drop_duplicates())

               id          owner      secret  server  farm  \
0     51196285470   12608538@N03  1cc4fda304   65535    66
1     51195931592  145172533@N07  3159af7482   65535    66
2     51196558561   14904436@N00  e7425a099b   65535    66
3     51197544145  124304610@N07  a74cddbcfc   65535    66
4     51195650487  142433590@N07  c70b820a13   65535    66
...           ...            ...         ...     ...   ...
5495  49664931493   83090816@N03  b97535ab7b   65535    66
5496  49654618916   70142944@N04  4ff4be91ee   65535    66
5497  49665687847  185027927@N07  f805593eed   65535    66
5498  49617817758  170418689@N03  bc38607559   65535    66
5499  49665296896  145106582@N02  84d0cbf224   65535    66

                             title  ispublic  isfriend  isfamily  \
0                  PBWA Kensington         1         0         0
1                 Huck-bush repose         1         0         0
2     Gracie lounging on the grass         1         0         0
3              Lola's First Litter         1         0         0
4           Puppy sandwich anyone!         1         0         0
...                            ...       ...       ...       ...
5495                      DSC_0054         1         0         0
5496            Roly on Ben Lawers         1         0         0
5497                      Seal dog         1         0         0
5498                          Skip         1         0         0
5499                          iago         1         0         0

                       ownername  ...  geo_is_contact geo_is_friend  \
0                       IanAWood  ...             0.0           0.0
1                        jormit1  ...             NaN           NaN
2                     walneywave  ...             0.0           0.0
3                  austexican718  ...             NaN           NaN
4     Photography By Gerry Slade  ...             NaN           NaN
...                          ...  ...             ...           ...
5495                     Margi03  ...             NaN           NaN
5496                        3.0s  ...             0.0           0.0
5497   Szczepanowski Photography  ...             NaN           NaN
5498                  akatsoulis  ...             NaN           NaN
5499               iago_malinois  ...             NaN           NaN

      geo_is_family  media media_status o_width o_height  \
0               0.0  photo        ready     NaN      NaN
1               NaN  photo        ready     NaN      NaN
2               0.0  photo        ready  3933.0   3012.0
3               NaN  photo        ready  4032.0   3024.0
4               NaN  photo        ready     NaN      NaN
...             ...    ...          ...     ...      ...
5495            NaN  photo        ready     NaN      NaN
5496            0.0  photo        ready  2592.0   3872.0
5497            NaN  photo        ready  5525.0   3683.0
5498            NaN  photo        ready  5600.0   4000.0
5499            NaN  photo        ready     NaN      NaN

                                                  url_o  height_o  width_o
0                                                   NaN       NaN      NaN
1                                                   NaN       NaN      NaN
2     https://live.staticflickr.com/65535/5119655856...    3012.0   3933.0
3     https://live.staticflickr.com/65535/5119754414...    3024.0   4032.0
4     https://live.staticflickr.com/65535/5119565048...    1440.0   2000.0
...                                                 ...       ...      ...
5495  https://live.staticflickr.com/65535/4966493149...    1191.0   1800.0
5496  https://live.staticflickr.com/65535/4965461891...    3872.0   2592.0
5497  https://live.staticflickr.com/65535/4966568784...    3683.0   5525.0
5498  https://live.staticflickr.com/65535/4961781775...    4000.0   5600.0
5499  https://live.staticflickr.com/65535/4966529689...    3894.0   5841.0

[5500 rows x 34 columns]